.main {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

/* styles/Navbar.module.css */

.navbar {
  background-color: #1652c4;
  /* padding: 10px 20px; */
  padding: 20px 16px 6px;
}

.navList {
  list-style-type: none;
  padding: 0;
}

.navList li {
  display: inline;
  margin-right: 20px;
}

.navList li a {
  color: white;
  text-decoration: none;
}

.navList li a:hover {
  text-decoration: underline;
}


.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.logoText {
  color: #000;
  margin: 0;
}

.register_page{
  font-size: 10px !important;
}


.login_btn{
  background: #1652c4;
  border: none !important;
  border-radius: inherit !important;
  color: #fff;
  padding: 5px 17px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;

}

.login_btn:hover{
  background-color: green;
}


.publish{
  background: #1652c4;
  border: none !important;
  border-radius: inherit !important;
  color: #fff;
  padding: 8px 17px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 30%;
  
}

.publish:hover{
  background-color: green;
  
}


.image_layout{
  padding: 20px;
}

.links_page{
  text-decoration: none;
  
}












